* {
    font-family: "Lucida Grande", sans-serif;
    color: white;
    background-color: black;
  }

header {
    color: white;
    background-color: black;
}

h1 {
    font-size: 64px;
    text-align: center;
  }

h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px grey;
  }

p {
    font-size: 24px;
    padding-top: 20px;
  }

div {
    min-height: 150px;
    padding: 25px;
  }

img {
    display: block;
    margin: auto;
    width: 525px;
  }


#intro {
    text-align: left;
  }



#red {
    background-color: red;
    text-align: right;
  }

#blue {
    background-color: blue;
    text-align: left;
  }

#yellow {
    background-color: yellow;
    text-align: right;

  }

#yellow h2{
    color: black;
    text-shadow: 5px 5px 2px #c7e2c7;
}

#yellow p{
  color: black;
}

#green {
    background-color: #008000;
    text-align: left;
  }

footer {
    text-align: right;
    font-size: 24px;
    background-color: black;
}

footer p{
  text-align: right;
  font-size: 24px;
  padding-top: 0px;
  padding-bottom: 10px; 
  padding-right: 10px; 
  background-color: black; 
}